<h1>Ideas!</h1>
  <div class="form">
    <form>
      Title:<br>
      <input type="text" name="title" id="idea-title"><br>
      Body:<br>
      <input type="text" name="body" id="idea-body"><br><br>
      Quality:<br><br>
    <input type="submit" value="Save" id="create-idea"><br><br>
    </form>
  </div>
  <div id="latest-ideas">
    <!-- append latest ideas here -->
  </div>
